*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-size: 1rem;
    font-weight: 400;
    color: #212529;
    background-color: #fff;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.title{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
h1{
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    font-family: inherit;
    line-height: 1.2;
    color: inherit;
}
.btn{
    
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    border:1px solid transparent;
    border-radius: 0.25rem;
    background-color: rgb(239,239,239);
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    
}
.search-btn{
    margin:3px;
    outline: none;
}


.tab-active{
    border:3px solid #7ab5f5;
}


.submit-btn{
    background-color: #28a745;   
}
.trend-btn{
    background-color: #dc3545; 
}
.trend-btn,
.submit-btn{
    border-color:#fff ;
    border-width: 3px;
    color: #fff;
    margin-bottom: 6px;
}


.submit-btn:focus{
    border-color: rgb(99, 212, 99); 
}
.submit-btn:hover{
    background-color:#1f8136;  
}


.trend-btn:hover{
    background-color:#a8222f;
}
.trend-btn:focus{
    border-color: #e26a76;
}
.searchBar{
    margin-top: 0.4rem;
    line-height: 1.5;
    font-weight: 400;
    font-size: 1rem;
    font-family: inherit;

}
input{
    box-sizing: border-box;
    margin:0;
    font-family: arial;
    font-size: 16px;
    height: 30px;
    background-color: #fff;
    padding: 1px 2px;
    letter-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    display: inline-block;
    text-align: start;
    appearance: auto;
    cursor:text;
    border-style: inset;
    border-color:rgb(118,118,118);
    border-image: initial;
    
 
    font-weight: 400;
    border-width: 1px;
}

input:focus{
    border-color: rgb(133,133,133);
    border-width: 2px;


}
textarea,
button{
    touch-action: manipulation;
}
button,
input{
    overflow: visible;
}
.boundary{
    height: 2rem;
    display: flex;
    align-items: center;
    
}
.boundaryLine{
    width: 100%;
    height: 1px;
    background-color: rgba(0,0,0,0.1);

    
}

.giphys{
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    row-gap: 20px;
    
}
.content{
    text-align: center;
    display: none;
}
.content-active{
    display: block;
}